// @use 'dark-theme';

$default-text-color: #fff;
$default-background-color: #353535;
$default-border-color: #808080;
$default-item-background: #404040;
$default-hover-background: #505050;
$default-active-background: #606060;

* {
    color: $default-text-color;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    cursor: default;
}

button {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.d6,
.d20 {
    white-space: nowrap;
}

input {
    background: $default-item-background;
    border: 1px solid $default-border-color;
    border-radius: 5px;
    padding: 3px 5px;
    flex: 1;
    color: $default-text-color;
    cursor: text;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100%;
    gap: 5px;
}

#changeOptions, #Generate {
    margin-left: auto;
    margin-right: auto;
}

#Generate{
    width: 150px;
}

button {
    width: min-content;
    white-space: nowrap;
    padding: 5px 8px;
    background: $default-item-background;
    border: 1px solid $default-border-color;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background: $default-hover-background;
    }

    &:active {
        background: $default-active-background;
        transition: 0ms;
    }
}

body {
    background: $default-background-color;
    width: 100dvw;
    height: 100dvh;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contain {
    margin: auto;
    height: 100%;
    display: flex;

}

.inputs {
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 5px;
}

.edited {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    * {
        white-space: nowrap;
        width: 270px
    }

    span>span {
        display: inline-block;
        width: 28px;
        text-align: right;
    }
}

.disabled {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.static-bonus {
    display: flex;
    width: 100%;
    white-space: nowrap;
    gap: 5px;

    input {
        width: 100%;
    }
}

.output {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}